@font-face {
  font-family: "Cairo-Bold";
  src: url(../fonts/Cairo-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Cairo-Regular";
  src: url(../fonts/Cairo-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Cairo-SemiBold";
  src: url(../fonts/Cairo-SemiBold.ttf);
  font-weight: 600;
}
body {
  font-family: "Cairo-Regular" !important;
  overflow-x: hidden;
  background-color: #eae8e5;
  scroll-behavior: smooth;
  direction: rtl;
  text-align: start;
  color: #59595b;
  /* Track */
  /* Handle */
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #8fb4c2;
}
body::-webkit-scrollbar-thumb {
  background: #1e4c5e;
}

/* width */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 99998;
  background-color: transparent;
  transition: 0.5s;
  padding: 10px;
}
.navbar .navbar-brand {
  display: none;
}
@media (max-width: 991px) {
  .navbar .navbar-brand {
    display: block;
    margin: 0;
  }
}
.navbar .navbar-nav {
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 991px) {
  .navbar .navbar-nav {
    background-color: #1e4c5e;
  }
  .navbar .navbar-nav .nav-item {
    padding: 10px !important;
  }
}
.navbar .navbar-nav .nav-item {
  padding: 0 10px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  right: 7px;
  width: 0px;
  height: 2px;
  background-color: #1e4c5e;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link::before {
    right: 0;
  }
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #1e4c5e;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before {
  width: 95%;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link:hover::before {
    width: 90%;
  }
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #8fb4c2;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
  transition: 0.3s;
  text-align: start;
  margin-bottom: 8px;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #1e4c5e;
  background-color: transparent;
}
.navbar .navbar-nav .nav-item.dropdown img {
  margin-inline-end: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #1e4c5e;
}
.navbar .navbar-nav .nav-item.active .nav-link::before {
  width: 95%;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item.active .nav-link::before {
    width: 90%;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link.logo {
    display: none;
  }
}
.navbar .navbar-nav .nav-item .nav-link.logo:hover::before {
  width: 0 !important;
}
.navbar .navbar-toggler {
  border-color: #8fb4c2;
}
.navbar .navbar-toggler i {
  color: #8fb4c2;
}

.logo img {
  width: 150px !important;
  height: 60px !important;
}

.service-nav {
  background-color: #1e4c5e;
}

.ser-page.about {
  height: auto !important;
  padding: 20px;
}
.ser-page.about .main-img {
  margin-top: 100px !important;
}

.first-ser {
  padding: 10px;
  box-shadow: 0 0 5px #ccc;
  background-color: rgba(162, 144, 97, 0.4);
}
.first-ser h5 {
  font-size: 20px;
  color: #1e4c5e;
}
.first-ser p {
  font-size: 15px;
  margin-top: 0 !important;
  margin: 16px 0 8px;
}

.navbar.navBg {
  background-color: #8fb4c2;
  color: #000;
}

.slider {
  height: 100vh;
  background-image: url(../imgs/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.slider .luxury {
  z-index: 234;
  color: #8fb4c2;
  letter-spacing: 1.25px;
}
@media (max-width: 590px) {
  .slider .luxury h1 {
    font-size: 24px;
  }
}
.slider .luxury .gold-link {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.slider .luxury .gold-link a.lsb-text-overlay-link {
  font-weight: bold;
  color: #8fb4c2;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
@media (max-width: 590px) {
  .slider .luxury .gold-link a.lsb-text-overlay-link {
    font-size: 15px;
  }
}

.about {
  padding: 50px 30px;
}
@media (max-width: 767px) {
  .about {
    padding: 32px 16px;
  }
}
.about .main-img {
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
}
.about .main-img .image-grid {
  background: #eae8e5;
}
.about .main-img .image-grid h2 {
  color: #1e4c5e;
  font-size: 45px;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .about .main-img .image-grid h2 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .about .main-img .image-grid h2 {
    font-size: 32px;
  }
}
.about .main-img .image-grid p {
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .about .main-img .image-grid p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .about .main-img .image-grid p {
    font-size: 15px;
    line-height: 25px;
  }
}
.about .main-img .image-grid.main {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.message {
  background-color: #1e4c5e;
}
.message .main-img .image-grid {
  background-color: transparent;
  text-align: center;
}
.message .main-img .image-grid h2 {
  color: #8fb4c2;
}
.message .main-img .image-grid p {
  color: #fff;
}

.vision .image-grid {
  direction: rtl;
  text-align: right !important;
}
.vision .image-grid h2 {
  margin-bottom: 50px !important;
  text-align: center;
}
.vision .image-grid ul {
  display: flex;
  -moz-column-gap: 2%;
       column-gap: 2%;
  flex-wrap: wrap;
  margin: 0;
}
.vision .image-grid ul li {
  padding: 40px 16px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  flex-basis: 49%;
  margin-bottom: 24px;
  box-shadow: rgb(245, 245, 245) 0px 0px 5px;
  display: flex;
  align-items: center;
  color: rgb(74, 86, 68);
  font-family: "Cairo-SemiBold";
}
@media (max-width: 767px) {
  .vision .image-grid ul li {
    font-size: 18px;
    flex-basis: 100%;
  }
}

.departments {
  background-color: #fff;
}
.departments h2 {
  font-size: 45px;
  color: #1e4c5e;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .departments h2 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .departments h2 {
    font-size: 32px;
  }
}
.departments .main-img {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
.departments .main-img .image-grid {
  flex-basis: 49%;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 8px;
  border-top: 1px solid #ccc;
  position: relative;
  padding: 50px 16px;
}
@media (max-width: 767px) {
  .departments .main-img .image-grid {
    flex-basis: 100%;
    margin-bottom: 55px;
  }
}
@media (max-width: 767px) {
  .departments .main-img .image-grid:last-child {
    margin: 0;
  }
}
.departments .main-img .image-grid .icon_container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1e4c5e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  right: 50%;
  transform: translateX(50%);
}
.departments .main-img .image-grid h4 {
  font-size: 24px;
  font-family: "Cairo-Bold";
  color: #8fb4c2;
  margin-bottom: 24px;
}
.departments .main-img .image-grid p {
  font-size: 18px;
}
.departments .more_services {
  background-color: #1e4c5e;
  color: #8fb4c2;
  padding: 6px 16px;
  text-decoration: none;
  display: inline-block;
  margin-top: 16px;
  font-weight: 600;
}
.departments .more_services i {
  margin-inline-start: 6px;
}

.our_services {
  background-color: #fff !important;
}
.our_services .main-img .image-grid {
  background-color: #fff;
  margin-bottom: 50px;
}
.our_services a {
  color: #1e4c5e;
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  padding: 10px 25px;
  background-color: #1e4c5e;
  color: #8fb4c2;
  transition: 0.3s;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 600px) {
  .our_services a {
    font-size: 15px;
    padding: 10px;
    margin-top: 0;
  }
}
.our_services a:hover {
  background-color: #1e4c5e;
  color: #8fb4c2;
}
.our_services a i {
  margin-inline-start: 5px;
}
@media (max-width: 767px) {
  .our_services .row .col-md-4 {
    margin-bottom: 24px;
  }
}
.our_services .row img {
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .our_services .row img {
    height: 250px;
  }
}
.our_services .row h3 {
  font-family: "Cairo-Bold";
  color: #1e4c5e;
  margin-top: 16px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .our_services .row h3 {
    font-size: 20px;
  }
}

.why-us {
  flex-direction: row-reverse;
}
.why-us .sub-img {
  border-right: none;
  border-left: 4px solid #fff;
}
.why-us .image-grid {
  text-align: right !important;
  direction: rtl;
}
.why-us .image-grid p {
  margin-top: 24px;
}
.why-us .image-grid ul li {
  font-size: 15px;
  padding: 5px 0;
}
@media (max-width: 600px) {
  .why-us .image-grid ul li {
    font-size: 13px;
  }
}

.services_wrapper {
  gap: 2%;
  flex-wrap: wrap;
}
.services_wrapper .service {
  flex-basis: 49%;
}
@media (max-width: 767px) {
  .services_wrapper .service {
    flex-basis: 100%;
  }
}

.services .main-img .image-grid,
.legal .main-img .image-grid {
  position: absolute;
  background: #eae8e5;
  padding: 50px 30px;
  text-align: center;
  box-shadow: 0px 22px 22px -14px rgba(0, 0, 0, 0.2);
  bottom: -20px;
  width: 90%;
  margin: 0 auto;
  right: 5%;
  direction: rtl;
  text-align: right;
}
.services a,
.legal a {
  color: #1e4c5e;
  display: inline-block;
  margin-top: 16px;
  text-decoration: none;
  padding: 10px 25px;
  background-color: #1e4c5e;
  color: #8fb4c2;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .services a,
  .legal a {
    font-size: 13px;
    padding: 10px;
    margin-top: 0;
  }
}
.services a:hover,
.legal a:hover {
  background-color: #1e4c5e;
  color: #8fb4c2;
}
.services a i,
.legal a i {
  margin-right: 5px;
}

footer .footer-cont {
  background-color: #1e4c5e;
  padding: 50px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .footer-cont h3 {
  color: #fff;
  margin-bottom: 32px;
}
footer .footer-cont h2 {
  color: #8fb4c2;
  text-align: center;
  font-size: 24px;
}
footer .footer-cont h2 span {
  font-weight: bold;
}
footer .footer-cont p {
  color: #8fb4c2;
  direction: ltr;
}
footer .footer-cont .social {
  direction: ltr;
  color: #8fb4c2;
}
footer .footer-cont .social i {
  color: #8fb4c2;
  border: 1px solid #8fb4c2;
  padding: 6px;
  border-radius: 50%;
  margin-right: 5px;
}
footer .footer-cont .site-url {
  color: #8fb4c2;
  text-align: center;
}
footer .footer-cont .site-url span {
  display: block;
}
footer .footer-cont .site-url a {
  color: #8fb4c2;
  text-decoration: none;
}
@media (max-width: 390px) {
  footer .footer-cont .site-url a {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  footer .footer-cont .download {
    height: 35px;
  }
  footer .footer-cont .download img {
    height: 100% !important;
    width: 120px !important;
  }
}

.ser-page .main-img {
  flex-basis: 100% !important;
  height: auto !important;
}
.ser-page .main-img .image-grid.from-ser-page {
  position: relative;
  background: #eae8e5;
  padding: 50px 30px;
  text-align: center;
  box-shadow: 0 0 5px 1px #ccc;
  /* bottom: -70px; */
  width: 90%;
  margin: 0 auto;
  top: 0;
  right: 0;
  direction: rtl;
  text-align: right;
}
.ser-page .main-img .image-grid.from-ser-page::after {
  display: none;
}
.ser-page .main-img .image-grid.from-ser-page .ser-caption {
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}
@media (max-width: 425px) {
  .ser-page .main-img .image-grid.from-ser-page .ser-caption {
    font-size: 15px;
    line-height: 25px;
  }
}
.ser-page .main-img .image-grid.from-ser-page h4 {
  margin-top: 24px;
  font-size: 32px;
  font-family: "Cairo-Bold";
  font-weight: bold;
  margin-bottom: 0;
  color: #1e4c5e;
}
@media (max-width: 767px) {
  .ser-page .main-img .image-grid.from-ser-page h4 {
    font-size: 24px;
  }
}
.ser-page .main-img .image-grid.from-ser-page .copun_service .show_coupon {
  cursor: pointer;
  text-decoration: underline;
}
.ser-page .main-img .image-grid.from-ser-page .service {
  margin-top: 25px;
  padding: 10px;
  box-shadow: 0 0 5px #8fb4c2;
  border-radius: 5px;
  background-color: #1e4c5e;
}
.ser-page .main-img .image-grid.from-ser-page .service .coupon {
  display: flex;
  align-items: center;
  margin-top: 8px;
  display: none;
}
.ser-page .main-img .image-grid.from-ser-page .service .coupon input {
  border: 1px solid #8fb4c2;
  border-radius: 0 8px 8px 0;
  padding: 6px;
  height: 40px;
  outline: none;
}
.ser-page .main-img .image-grid.from-ser-page .service .coupon button {
  border: none;
  background-color: #8fb4c2;
  color: #1e4c5e;
  padding: 6px;
  outline: none;
  height: 40px;
  border-radius: 8px 0 0 8px;
  margin-inline-start: -4px;
  cursor: pointer;
}
.ser-page .main-img .image-grid.from-ser-page .service h6 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
  color: #8fb4c2;
}
.ser-page .main-img .image-grid.from-ser-page .service p {
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.ser-page .main-img .image-grid.from-ser-page .service .pay {
  background-color: #8fb4c2;
  color: #1e4c5e;
  border: none;
  margin-top: 16px;
  padding: 12px 64px;
  border-radius: 6px;
  outline: none;
}

.legal.own-page,
.ser-page {
  padding-top: 30px !important;
  padding-bottom: 0 !important;
}
.legal.own-page .sub-img,
.ser-page .sub-img {
  display: none !important;
}
.legal.own-page .main-img,
.ser-page .main-img {
  flex-basis: 100%;
  max-width: 100%;
  height: auto !important;
}
.legal.own-page .main-img .image-grid,
.ser-page .main-img .image-grid {
  position: relative;
  width: 95%;
  margin: auto;
  bottom: 0;
  padding: 20px;
  right: 0;
  box-shadow: 0 0 5px #aba9a9;
  margin-bottom: 24px;
}
.legal.own-page .main-img .image-grid .service ul,
.ser-page .main-img .image-grid .service ul {
  padding: 0;
  display: block;
  margin-top: 16px;
}
.legal.own-page .main-img .image-grid .service ul li,
.ser-page .main-img .image-grid .service ul li {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  text-align: start;
  font-size: 20px;
  flex-basis: 49%;
  margin-bottom: 12px;
  box-shadow: none;
  display: block;
  color: #8fb4c2;
  font-family: "Cairo-SemiBold";
}
.legal.own-page .main-img .image-grid::after,
.ser-page .main-img .image-grid::after {
  display: none;
}

.join {
  text-align: center;
  padding: 50px 0;
  padding-top: 120px;
}
.join h2 {
  color: #1e4c5e;
  font-size: 36px;
}
.join p {
  font-size: 18px;
  color: #8fb4c2;
}
.join form {
  padding: 20px;
  background: rgba(162, 144, 97, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  flex-wrap: wrap;
  margin: auto;
}
.join form .form-group {
  flex-basis: 100%;
  max-width: 100%;
  position: relative;
}
.join form .form-group svg {
  position: absolute;
  height: 46px;
  top: 0;
  background-color: #4a5644;
  right: 0;
  width: 46px;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}
.join form .form-group input {
  padding: 10px;
  background-color: #eae8e5;
  padding-inline-start: 55px;
  border-radius: 5px;
}
.join form .form-group input:focus {
  box-shadow: none;
  outline: none;
}
.join form .form-group input::-moz-placeholder {
  color: #8fb4c2;
  font-size: 15px;
}
.join form .form-group input::placeholder {
  color: #8fb4c2;
  font-size: 15px;
}
.join form .message svg {
  background-color: transparent;
}
.join form .message textarea {
  padding-inline-start: 45px;
  background-color: #eae8e5;
}
.join form .message textarea::-moz-placeholder {
  color: #8fb4c2;
  font-size: 15px;
}
.join form .message textarea::placeholder {
  color: #8fb4c2;
  font-size: 15px;
}
.join form label {
  color: #1e4c5e;
}
.join form button {
  background-color: #1e4c5e;
  border-color: #1e4c5e;
  transition: 0.3s;
}
.join form button:hover {
  border-color: #1e4c5e;
  background-color: transparent;
  color: #1e4c5e;
}

.join-us {
  position: fixed;
  top: 47%;
  right: 0;
  background-color: #1e4c5e;
  color: #8fb4c2;
  padding: 10px 25px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
  z-index: 444;
}
.join-us:hover {
  color: #8fb4c2;
  text-decoration: none;
}

.terms h4 {
  color: #1e4c5e;
}
.terms h2 {
  margin-bottom: 32px;
}
.terms .term-first li {
  font-size: 20px;
  font-weight: bold;
  color: #8fb4c2;
}
.terms .term-first li p {
  font-size: 15px;
  line-height: 1.7;
  margin-top: 16px;
  color: #1e4c5e;
}
.terms .terms-list {
  list-style: decimal;
}
.terms .terms-list li {
  padding: 5px;
  margin: 15px 0;
  font-size: 15px;
}

.club-step h4 {
  color: #1e4c5e;
  margin-bottom: 20px;
}
.club-step .club-list {
  list-style: decimal;
}
.club-step .club-list li {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  .club-step .club-list li {
    font-size: 13px;
  }
}
.club-step .club-list li ul {
  margin-top: 10px;
}

.accept-terms {
  align-items: center;
  margin-bottom: 16px;
}
.accept-terms input {
  margin-left: 5px;
}
.accept-terms a {
  margin-bottom: 0;
  font-size: 15px;
  transition: 0.3s;
  text-decoration: none;
  color: #8fb4c2;
  font-weight: 700;
}
.accept-terms a i {
  margin-right: 8px;
}

.wa-chat-box-header {
  direction: ltr !important;
}

.wa-chat-box-content-chat {
  text-align: right;
}

#wa-widget-send-button div {
  display: none !important;
}

.wa-chat-box-header {
  background-color: #1e4c5e !important;
}

#wa-widget-send-button {
  background-color: #1e4c5e !important;
  left: 20px !important;
}
#wa-widget-send-button svg {
  stroke: #8fb4c2;
  fill: #8fb4c2;
}
#wa-widget-send-button div {
  text-decoration: none;
  font-size: 16px !important;
}
#wa-widget-send-button .wa-messenger-svg-whatsapp {
  width: 35px !important;
}

.wa-chat-box-content-send-btn {
  background-color: #1e4c5e !important;
}

.wa-chat-box-brand {
  margin-left: 20px;
  width: 50px !important;
  height: 50px !important;
  border-radius: 7px !important;
}

.wa-chat-box-content-send-btn-text {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.wa-chat-box-poweredby {
  display: none !important;
}

/*qr-cpde */
.qr-code {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e4c5e;
  color: #8fb4c2;
  border-radius: 10px 0 0 10px;
  font-size: 28px;
  position: fixed;
  bottom: 50%;
  right: 0;
  cursor: pointer;
  z-index: 999;
}/*# sourceMappingURL=style.css.map */